In [1]:
import pandas as pd
import numpy as np

In [2]:
stockA = pd.read_csv('stockA.csv')
stockB = pd.read_csv('stockB.csv')

In [3]:
stockA['timestamp'] = stockA['timestamp'].apply(lambda x: pd.Timestamp(x))
stockB['timestamp'] = stockB['timestamp'].apply(lambda x: pd.Timestamp(x))

In [4]:
stockA['stock'] = 'A'
stockB['stock'] = 'B'

In [5]:
stockA.head()

                      timestamp       price stock
0 2019-05-23 08:00:00.606442928  100.644735     A
1 2019-05-23 08:00:01.375669956  100.053412     A
2 2019-05-23 08:00:02.180773020  100.302794     A
3 2019-05-23 08:00:02.452453375   99.529842     A
4 2019-05-23 08:00:04.842424154   99.422729     A

In [6]:
stockB.head()

                      timestamp       price stock
0 2019-05-23 08:00:00.537101596  100.641682     B
1 2019-05-23 08:00:01.507983251  100.055078     B
2 2019-05-23 08:00:02.242291019  100.303963     B
3 2019-05-23 08:00:02.627328232   99.529162     B
4 2019-05-23 08:00:04.973570211   99.423361     B

In [7]:
stock = stockA.append(stockB).sort_values('timestamp')

In [8]:
stock

                          timestamp       price stock
0     2019-05-23 08:00:00.537101596  100.641682     B
0     2019-05-23 08:00:00.606442928  100.644735     A
1     2019-05-23 08:00:01.375669956  100.053412     A
1     2019-05-23 08:00:01.507983251  100.055078     B
2     2019-05-23 08:00:02.180773020  100.302794     A
...                             ...         ...   ...
79521 2019-05-23 21:59:57.684374094   99.699207     A
77817 2019-05-23 21:59:57.880291044   99.848986     B
79522 2019-05-23 21:59:57.920438051   99.850213     A
79523 2019-05-23 21:59:58.169214964  100.837242     A
77818 2019-05-23 21:59:58.271073330  100.837496     B

[157343 rows x 3 columns]

In [38]:
stockB.iloc[2]['timestamp'] + ts_M < stockB.iloc[3]['timestamp']

True

In [9]:
M = 0.04
ts_M = pd.to_timedelta(M, unit='s')
c = 4.0

last_A_price = stockA.iloc[0]['price']
current_B_price = stockB.iloc[0]['price']
bought = False
sold = False

profit = 0

for i in range(len(stock)):
    
    current_time = stock.iloc[i]['timestamp']
    current_stock = stock.iloc[i]['stock']
    
    if current_stock == 'A':
        current_A_price = stock.iloc[i]['price']
        if current_A_price > last_A_price + c:
            #buy B 
            current_B_price = stock[(stock['timestamp'] <= current_time + ts_M) & (stock['stock'] == 'B')].iloc[-1]['price']
            profit -= current_B_price
            last_A_price = current_A_price
            bought = True
        
        elif current_A_price < last_A_price - c:
            #sell B
            current_B_price = stock[(stock['timestamp'] <= current_time + ts_M) & (stock['stock'] == 'B')].iloc[-1]['price']
            profit += current_B_price
            last_A_price = stock.iloc[i]['price']
            sold = True

    if current_stock == 'B' and stock.iloc[i]['price'] != current_B_price:
        if bought:
            #sell B
            current_B_price = stock[(stock['timestamp'] <= current_time + ts_M) & (stock['stock'] == 'B')].iloc[-1]['price']
            profit += current_B_price
            bought = False
        if sold:
            #buy B
            current_B_price = stock[(stock['timestamp'] <= current_time + ts_M) & (stock['stock'] == 'B')].iloc[-1]['price']
            profit -= current_B_price
            sold = False

In [10]:
profit

76.3924594326477